<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63626663984-vh93t7ohqjnnlmu25ik70uf13le3en7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63626663984-vh93t7ohqjnnlmu25ik70uf13le3en7b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>63626663984-el9ltp19p64e91aluqeuvaucgrjn8mui.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLU0H6JXKC8ZsRAOMnsyQXhpxZQhFcfRo</string>
	<key>GCM_SENDER_ID</key>
	<string>63626663984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vibeus</string>
	<key>PROJECT_ID</key>
	<string>vibeus-conn</string>
	<key>STORAGE_BUCKET</key>
	<string>vibeus-conn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63626663984:ios:6e4d8d5ec3005e25ec75f5</string>
</dict>
</plist>