<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63626663984-epurho44gv9vh6e62a9g20s7fl8q91nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63626663984-epurho44gv9vh6e62a9g20s7fl8q91nq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>63626663984-1s2dh0o33cibgngo84f86vo6ro8o2rq3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLU0H6JXKC8ZsRAOMnsyQXhpxZQhFcfRo</string>
	<key>GCM_SENDER_ID</key>
	<string>63626663984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vibeus.vibeus</string>
	<key>PROJECT_ID</key>
	<string>vibeus-conn</string>
	<key>STORAGE_BUCKET</key>
	<string>vibeus-conn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63626663984:ios:f03bf39b32c2fca4ec75f5</string>
</dict>
</plist>